
.informations{
    color: #afafaf;
    font-style: normal;
    border-top: 1px solid #afafaf;
    padding: 20px;
    margin: 20px;
}

.informations p {

}

.footer-2{
    background: linear-gradient(180deg, #C8C8C8 0%, #0064AB 100%);
    clip-path: polygon(0% 100%,100% 100%,100% 40%,-25% -10% ,0% 0%);
    height: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-2 .social{
    align-self: flex-start;
}

.maps{
    align-self: center;
    width: 80%;
    height: 300px;
}