.contact-form-container{
    background: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    width: 50%;
    max-width: 720px;
    margin-left: 175px;
    position: absolute;
    min-height: 500px;
    z-index: 1;
}

.contact-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.contact-form form{
    display: flex;
    flex-direction: column;
}

.contact-form form .input-group{
    display: flex;
}

.contact-form form .input-group div{
    width: 50%;
    display: grid;
}

.contact-form form label::after{
    content: attr(data-end);
    color: red;
}

.contact-form form label{
    color: #565656;
    font-weight: bold;
    margin: 0 20px;
}

.contact-form form input, textarea{
    border: 1px solid #858585;
    border-radius: 7px;
    min-height: 40px;
    margin: 20px;
}

.contact-form form textarea{
    min-height: 200px;
    resize: vertical;
    line-height: 24px;
}

.contact-form form input[type=button]{
    background: #18405C;
    border-radius: 7px;
    color: #FFFFFF;
    border: none;
    align-self: center;
    width: 50%;
}

.informations{
    color: #afafaf;
    font-style: normal;
    border-top: 1px solid #afafaf;
    padding: 20px;
    margin: 20px;
}

.informations p {

}

.footer-2{
    background: linear-gradient(180deg, #C8C8C8 0%, #0064AB 100%);
    clip-path: polygon(0% 100%,100% 100%,100% 40%,-25% -10% ,0% 0%);
    height: 1500px;
    display: flex;
}

.footer-2 .social{
    align-self: flex-end;
}

.maps{

}