.text-cases{
    background-image: url(../../assets/partnership.png);
    min-height: 200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.text-cases p {
    padding: 20px;
    color: #e2e2e2;
    font-size: 3.6rem;
    line-height: 4.6rem;
    text-align: center;
    font-weight: lighter;
}

.cases-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cases-card{
    max-width: 350px;
    margin: 20px;
    cursor: pointer;
}

.cases-card.cases-card-grid{

}

.cases-card-grid div{

}

.cases-card-title{
    background: #858585;
    width: 50%;
    border-radius: 0 8px 0 0;
    font-weight: bold;
    color: #eaeaea;
    padding: 10px 10px 0;
}

.cases-card-content{
    background: #757272;
    height: 300px;
}

.cases-card-content img{
    height: 100%;
}

.cases-card-span{
    height: 100px;
    background: #505050;
    color: #f6f6f6;
    padding: 10px;
    text-align: center;
}