
.itens{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.itens > div{
    margin: 20px;
    color: #565656;
    padding: 10px;
    cursor: pointer;
}

.item-selected{
    border: 2px solid #0062A8;
    border-radius: 10px;
}

.card-item-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-item{
    background: #0E8DE8;
    border-radius: 11px 11px 0 0;
    justify-content: center;
    margin: 20px;
    max-width: 350px;
    display: block;
    opacity: 1;
    transition: all 0.5s linear;
    cursor: pointer;
}

.card-item:nth-child(2n){
    background: #AACFE9;
}

.card-item-selected{
    display: block;
}

.card-item h3{
    text-align: center;
    color: #EDEDED;
}

.card-item:nth-child(2n) h3{
    color: #2E2D2D;
}

.card-title{
    color: #BCBDC0;
    text-align: center;
    background: #0064AB;
    border-radius: 11px 11px 0 0;
}

.card-item:nth-child(2n) .card-title{
    background: #212121;
}

.card-img{
    display: flex;
    justify-content: center;
}

.card-table-description{
    padding: 20px
}

.card-table-description table{
    border-collapse: separate;
    border-spacing: 15px;
}

.card-table-description table tr td:first-child{
    color: #D2D2D2;
}

.card-item:nth-child(2n) .card-table-description table tr td:first-child{
    color: #3A3A3A;
}

.card-table-description table tr td:last-child{
    color: #F6F6F6;
}

.card-item:nth-child(2n) .card-table-description table tr td:last-child{
    color: #414141;
}

.card-table-description table tr:last-child td:first-child{
    color: #111010;
    font-weight: bold;
}

.card-table-description table tr:last-child{
    margin: 20px;
}

.card-table-description table td{
    width: 50%;
}

.download-item{
    display: flex;
    justify-content: flex-end;
    padding: 50px;
}

.box-modal-content{
    flex-direction: row!important;
}

.box-modal-content div:nth-child(2) {
    width: 100%;
}

.box-modal-content div:nth-child(2) {
    background: #0e8de8 !important;
}

.table-modal{
    background: #0064ab;
    display: flex;
}

.table-modal table{
    align-self: center;
}

.table-modal table tr td{
    border-bottom: 1px solid #ffffff6b;
    text-align: left;
    padding: 20px;
}